services:
  stock_valuator:
    build:
      context: .
      dockerfile: Dockerfile
    dns:
      - 8.8.8.8
      - 1.1.1.1
    container_name: stock_valuator
    ports:
      - "8501:8501"
    volumes:
      - .:/app
    restart: unless-stopped
